
.flash-box
  .side
    .side-header
      .side-header_box
        .side-header_box_user-name
        .side-header_box_menu
          .side-header_box_menu_new-group
            =link_to "", class: "" do
              .fa-edit
          .side-header_box_menu_edit-user
            =link_to "", class: "" do
              .fa-cog
    .groups
      =link_to "", class: "" do
      .group
        .group_group-name
        .group_latest-message
  .chat-main
    .main-header
      .main-header_left-box
      .main-header_left-box_current-group
      .main-header_left-box_member-list
      .main-header_edit_btn
    .messages
      .message
        .message_upper-info
        .message_text
    .form
      .type_message
      .send_btn



