* {
  box-sizing: border-box;
}
.header {
  background-color: #38aef0;
  color: white;
  font-size: 15px;
  height: 20px;
  list-style: none;
  text-align: center;
}
.flash-box {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: left;
  width: 100vw;
  .side {
    width: 300px;
    color: white;
    float: left;
    .side-header {
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      .side-header_box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        .side-header_box_user-name{
          font-size: 16px;
          color: #ffffff;
        }
        .side-header_box_menu {
          display: flex;
          .side-header_box_menu_new-group {
            margin-left: 0.3rem;
            .fa.fa-pencil-square-o {
              color: white;
            }
          }
          .side-header_box_menu_edit-user {
            margin-left: 0.3rem;
            .fa.fa-cog {
              color: white;
            }
          }
        }
      }
    }
    .groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      a {
        text-decoration: none;
      }
      &_group {
        margin-bottom: 40px;
        font-weight: bold;
        color: white;
        &_name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        &_latest-message {
          font-size: 11px;
        }
      }
    }
  }
  .chat-main {
    width: calc(100vw - 300px);
    float: left;
    .main-header {
      height : 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eeeeee;
      overflow: scroll;
      &_left-box {
        margin-top: 35px;
        &_current-group {
          font-size: 20px;
          color: #333333;
          margin-bottom: 15px;
        }
        &_member-list {
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }
      &_edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px #38aef0;
        color: #38aef0;
        position: absolute;
        right: 40px;
        cursor: pointer;
      }
    }
    .messages {
      height: calc(100vh - 190px);
      padding: 46px 40px 0;
      background-color: #fafafa;
      overflow: scroll;
      .message {
        .message_upper-info {
          display: flex;
          .message_upper-info_user-name {
            color: black;
            font-size: 16px;
            font-weight: bold;
          }
          .message_upper-info_date {
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .message_text {
          margin-top: 10px;
          .message_text_content {
            color: black;
            font-size: 14px;
            margin-bottom: 40px;
          }
        }
        .message_upper-info2 {
          display: flex;
          .message_upper-info_user-name2 {
            color: #434A54;
            font-size: 16px;
            font-weight: bold;
          }
          .message_upper-info_date2 {
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .message_text2 {
          margin-top: 10px;
          .message_text_content2 {
            color: #434A54;
            font-size: 14px;
            margin-bottom: 40px;
          }
        }
      }
    }
    .form {
      height: 90px;
      padding: 20px 40px 40px 40px;
      background-color: #ddd;
      .form-message {
        display: flex;
        .form-message_text {
          font-size: 16px;
          color: #434a54;
          textarea {
            height: 50px;
            width: calc(100vw - 603px);
            line-height: 50px;
            border: none;
            resize: none;
            background-color: white;
            padding-left: 10px;
          }
        }
        .type_m_box_image {
          background-color: #ffffff;
          color: #333;
          font-size: 20px;
          line-height: 50px;
          padding-right: 10px;
          margin-right: 15px
        }
      }
      .form-send {
        display: flex;
        height: 50px;
        .send-btn {
          width: 100px;
          float: right;
          display: inline-block;
          padding-right: 30px;
          padding-left: 30px;
          line-height: 50px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}